name: ci
on:
  push:
    branches-ignore:
      - "master"
    tags-ignore:
      - "*"

jobs:
  build:
    name: ci
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - name: setup go
        uses: actions/setup-go@v4
        with:
          go-version-file: ./go.mod
      - run: go version
      - run: go fmt .
      - uses: dominikh/staticcheck-action@v1
        with:
          version: "2024.1.1"
          install-go: false
      - name: Test
        run: make test
      - name: Build
        run: make
